<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Glossário</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/FAVICON.svg') }}" type="image/x-icon" />
</head>
<body>

    <div class="menu">
            <img src="{{ url_for('static', filename='imgs/LOGO.svg') }}" alt="Logo" class="menu-icon">
            <div class="links menu">
                <ul>
                    <li><a href="/">Glossário</a></li>
                    <li><a href="/sobre">Sobre</a></li>
                    <li><a href="/tarefas">Tarefas</a></li>
                </ul>
            </div>

    </div>

    {% block conteudo %}

    {% endblock %}
</body>
</html>